In [56]:
import pandas as pd 
import numpy as np
df = pd.read_csv("Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [57]:
X = df[['area', 'bedrooms', 'bathrooms']].values 
y = df['price'].values.reshape(-1,1)

X = np.hstack([np.ones((X.shape[0], 1)), X]) # adding bias

In [58]:
X

array([[1.00e+00, 7.42e+03, 4.00e+00, 2.00e+00],
       [1.00e+00, 8.96e+03, 4.00e+00, 4.00e+00],
       [1.00e+00, 9.96e+03, 3.00e+00, 2.00e+00],
       ...,
       [1.00e+00, 3.62e+03, 2.00e+00, 1.00e+00],
       [1.00e+00, 2.91e+03, 3.00e+00, 1.00e+00],
       [1.00e+00, 3.85e+03, 3.00e+00, 1.00e+00]], shape=(545, 4))

In [59]:
def hypothesis_func(X, w):
    return np.dot(X, w)

w_init = np.zeros((X.shape[1], 1))

In [60]:
def loss_func(X, y, w):
    m = len(y)
    y_pred = hypothesis_func(X, w)
    loss = (1 / (2*m)) * np.sum((y_pred - y)**2)
    return loss

In [61]:
def gradient_descent(X, y, w, learning_rate, iterations):
    m = len(y)
    losses = []

    for _ in range(iterations):
        error = hypothesis_func(X, w) - y
        gradient = (1 / m) * np.dot(X.T, error)
        w -= learning_rate * gradient
        losses.append(loss_func(X, y, w))

    return w, losses

In [62]:
learning_rate = 0.0000001
iterations = 100

w_gradient, losses = gradient_descent(X, y, w_init, learning_rate, iterations)

In [63]:
w_analytical = np.linalg.inv(X.T @ X) @ X.T @ y

In [64]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X[:, 1:], y)

w_sklearn = np.vstack([model.intercept_, model.coef_.T])

In [65]:
print("Weights results of gradient descent: ", w_gradient)
print("Weights results of analytical computation: ", w_analytical)
print("Weights results of LinearRegression: ", w_sklearn)

Weights results of gradient descent:  [[-6.95803134e+31]
 [-4.21881826e+35]
 [-2.09595079e+32]
 [-9.23467912e+31]]
Weights results of analytical computation:  [[-1.73171608e+05]
 [ 3.78762754e+02]
 [ 4.06820034e+05]
 [ 1.38604950e+06]]
Weights results of LinearRegression:  [[-1.73171608e+05]
 [ 3.78762754e+02]
 [ 4.06820034e+05]
 [ 1.38604950e+06]]

In [66]:
from sklearn.metrics import mean_squared_error

y_pred_gradient = hypothesis_func(X, w_gradient)
mse_gradient = mean_squared_error(y, y_pred_gradient)
print("MSE of gradient descent method: ", mse_gradient)

y_pred_analytical = hypothesis_func(X, w_analytical)
mse_analytical = mean_squared_error(y, y_pred_analytical)
print("MSE of analytical method: ", mse_analytical)

y_pred_sklearn = model.predict(X[:, 1:])
mse_sklearn = mean_squared_error(y, y_pred_sklearn)
print("MSE of sklearn LinearRegression method: ", mse_sklearn)

MSE of gradient descent method:  5.558264933676759e+78
MSE of analytical method:  1791170049977.319
MSE of sklearn LinearRegression method:  1791170049977.3193